@model IEnumerable<GroupAssigment.ViewModels.GoodsFrom>

@{
    ViewBag.Title = "ListGoods";
}
<link rel="stylesheet" href="~/content/ss/animate.css">
<link rel="stylesheet" href="~/content/css/bootstrap.min.css">
<link rel="stylesheet" href="~/content/css/font-awesome.min.css">
<link rel="stylesheet" href="~/content/css/templatemo_misc.css">
<link rel="stylesheet" href="~/content/css/templatemo_style.css">
<link rel="stylesheet" href="~/content/css/styles.css">

<!-- JavaScripts -->
<script src="~/content/js/jquery-1.11.1.min.js"></script>
<script src="~/content/js/bootstrap-dropdown.js"></script>
<script src="~/content/js/bootstrap-collapse.js"></script>
<script src="~/content/js/bootstrap-tab.js"></script>
<script src="~/content/js/jquery.singlePageNav.js"></script>
<script src="~/content/js/jquery.flexslider.js"></script>
<script src="~/content/js/custom.js"></script>
<script src="~/content/js/jquery.lightbox.js"></script>
<script src="~/content/js/templatemo_custom.js"></script>
<script src="~/content/js/responsiveCarousel.min.js"></script>
@Styles.Render("~/Content/css")
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<h2>ListGoods</h2>
<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <input type="text" class="form-control" name="namesender" placeholder="Name" />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="phone" placeholder="Phone " />
            </div>

            <div class="col-md-2">
                <input type="text" class="form-control datepicker" name="Datefrom" value="@DateTime.Now.ToShortDateString()" />
            </div>

            <div class="col-md-2">
                <input type="text" class="form-control datepicker" name="Dateto" value="@DateTime.Now.ToShortDateString()" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-search"></span>Search</button>
                <a href="~/RetailSales/ExportExcelExp" class="btn btn-sm btn-success">Excel</a>
                <a onclick="javascript:window.print();" class="btn btn-xs btn-success pull-right"><i class="glyphicon glyphicon-print"></i></a>
            </div>
        </div>
    </div>
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameSender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phoneof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypesofGood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameSender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phoneof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypesofGood)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateGoods", new { id=item.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
@section scripts
 {

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>


    <script type="text/javascript">

            $(document).ready(function () {
                $(".datepicker").datepicker();
            });
    </script>
}